/* Ellesmere color scheme with custom fg/bg
   https://github.com/oliverkwebb/ellesmere-vis */
:root {
--bg: #20202D;
--fg: #DDDDDD;
--red: #a0155e;
--yellow: #f8f828;
--green: #08c888;
--blue: #0898d8;
--cyan: #20ffff;
--purple: #7878c8;
--pink: #d808d8;
}

/* APL386 Unicode by Adám Brudzewsky */
@font-face {
font-family: "APL386";
font-style: normal;
src: url("./fonts/APL386.ttf") format("truetype")
}

/* Inconsolata Unicode by Raph Levien */
@font-face {
font-family: "Inconsolata";
font-style: normal;
src: url("./fonts/Inconsolata.ttf") format("truetype")
}

html {
background-color:var(--bg);
color:var(--fg);
}

body {
max-width:800px;
padding:10px;
margin:auto;
font-family: "Noto Serif", serif;
}

pre, code, time {
font-family: "APL386", monospace;
}

header {
text-align:center;
}

nav {
text-align:center;
font-size:1.5em;
font-weight:bold;
}
nav a {
font-family: "APL386", Helvetica, sans-serif;
}

.intro {
text-align:center;
}

.linkbox a {
display:block;
text-align:center;
width: 80%;
margin: 15px auto 15px auto;
padding: 10px 0 10px 0;
color: black;
border: 2px solid var(--blue);
box-shadow:11px 5px black;
background-color: var(--red);
font-size: 1.2rem;
font-family: "APL386", monospace;
}
.linkbox a:hover {
color: white;
box-shadow:0px 0px;
transform: translate(11px, 5px);
}

a {
text-decoration:none;
color: #0888c8;
}

h2 { font-size:1.5em }

h1,h2,h3 {
color: white;
}

p,li,table,dl {
line-height:1.5;
font-size:1.1rem;
}

table {
border-collapse: collapse;
width:100%;
}
td,th {
border-bottom:2px solid;
padding:6px;
}
th { background-color: var(--red); }

pre {
line-height:1.25;
text-indent:1em;
}
pre, code {
padding: 3px 4px;
border-radius:4px;
}
p code {
color:#fff;
background-color:#222;
}

footer p {
text-align:center;
clear:both
}

#nextprev {width:100%}
.next {float:right}
.prev {float:left}
