html {
background-color:#DDF;
}

body {
max-width:800px;
padding:10px;
margin:auto;
font-family: "Noto Sans", Helvetica, sans-serif;
}

#pfp img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;;
}

main a {text-decoration:none;}

h2 { font-size:1.5em }

nav {
text-align:center;
font-size:1.5em;
font-weight:Bold;
}
nav a {color:black;}

p,li,table,dl {
line-height:1.5;
color:#111;
font-size:1.1em;
}

time {
font-family:monospace;
}

table {
border-collapse: collapse;
width:100%;
}
td,th {
border-bottom:2px solid;
padding:6px;
}
th { background-color:#CCC }

pre {
line-height:1.25;
text-indent:1em;
}
pre, code {
padding: 3px 4px;
border-radius:4px;
}
p code {
color:#fff;
background-color:#222;
}

footer p {
text-align:center;
clear:both
}

#nextprev {width:100%}
.next {float:right}
.prev {float:left}

