{{ define "main" }}
{{ .Content }}
<ul style="list-style:none; padding: 0" class="articleindex">
{{- range where .Site.RegularPages "Section" "articles" }}
<li class="articleitem">
	<a href="{{ .RelPermalink }}" class="title" style="font-size:1.3em;">{{ .Title }}</a>
	<div class="info">
	<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 02 2006" }}</time> &ndash; {{ .FuzzyWordCount }} Words
	</div>
	{{ if .Params.coverart }}
   	<img class="image" src="{{ .Params.coverart }}" width="40%">
   	{{ end }}
</li>
{{- end }}
</ul>
{{- end }}
