<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ with .Title }}{{ . | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='stylesheet' type='text/css' href='/uchu_color_expanded.css'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	<link rel="icon" href="/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
</head>
<body>
<nav>
	<a href="/">Oliver Webb's Website</a>
</nav>
<main>
<header><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></header>
<article>
{{ block "main" . }}
{{ .Content }}
{{ end }}
</article>
</main>
{{ partial "footer.html" . }}
</body>
</html>
